nav {
	position: relative;
	margin: 20px 0;
  text-align: center;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
  list-style-type: none;
}
nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: rgba(73, 71, 71, 0.6);
	line-height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  display: inline-block;
  list-style-type: none;
}

nav a:hover {
	color: #000;
}
nav .current a {
	background: #999;
	color: #fff;
	border-radius: 5px;
} 

